:root{
    --footer-color:#121418;
}

.footer{
    background-color: var(--footer-color);
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

@media (max-width:481px){
    .footer{
        flex-wrap: wrap;
    }
}

