.container {
    width: 100%;
    min-height: 80vh;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerBox {
    width: 80%;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.headerBox span {
    color: royalblue;
}

.insideBox {
    min-height: 40vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.member-Box {
    min-height: 50vh;
    width: 20%;
    background-color: #444548;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.imgBox {
    height: 40vh;
    width: 100%;
    position: relative;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    position: absolute;
    top: 0%;
    cursor: pointer;
    z-index: 1;
}

.hoverBox {
    display: none;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    transition: all 150ms ease-in-out;
}

.imgBox:hover .hoverBox {
    display: flex;
    background-color: rgba(29, 26, 24, 0.463);
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}





.teamheaderBox {
    height: max-content;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    font-weight: bold;

}

.roleBox {
    width: 100%;
    font-size: 1.0rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}



.iconBox {
    height: max-content;
    width: max-content;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    transition: all 300ms ease-in-out;
    border-radius: 50px;
    color: royalblue;
    margin-left: 2%;
    margin-right: 2%;
}


.iconBox:hover {
    transform: scale(1.2);
}